p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;}

img {
    display: block;
 }

a {
   text-decoration: none;
   margin: 0;
    padding: 0;
                }

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

ul,ol {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 0;
}

.conteiner{
    width: 1110px;
    padding: 0 20px;
     margin: 0 auto;
}


.header {
    background-color: #fff;
    height:80px;

    
}

.logo-heder{
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 28px;
        color: #173a56;
        margin-left: 16px;
}

.header .conteiner-heder{
    display: flex;
    align-items: center;
}

.header-link {
    font-weight: 700;
        font-size: 30px;
        line-height: 0.93;
        color: #173a56;
}



.header-link{
    width: 39px;
        height: 36px;
}

.header-list{
    display: flex;
    margin-left: 237px;
    gap: 30px;
    padding: 0;
    align-items: center;
}

.header-img{
    
}

.header-nav{
    display: flex;
    align-items: center;
    
    
}

.header-link{
   
}

.heder-btn{
    display: flex;
    margin-left: 73px;
    gap: 27px;
    align-items: center;
}

.header-item-link {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343d;

}

.header-in {
    
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    min-width: 105px;
        height: 42px;
        background-color: #fff;
        border: 1px solid #bcd0e5;
            border-radius: 4px;
}

.header-up {
    
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
        min-width: 113px;
        height: 42px;
        background: #02897a;
        border: 1px solid #bcd0e5;
}

.main-work {
    display: flex;
    width: 1110px;
        height: 554px;
        margin-top: 25px;
}

.main-work-sek{
    display: block;
    width: 465px;
        height: 331px;
        margin-top: 112px;
}

.section-work {
    font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: #22343d;
        max-width: 372px;
}

.work-text {
    font-weight: 400;
        font-size: 18px;
    
        line-height: 28px;
        margin-top: 18px;
        color: #22343d;
       
}

.work-btn {
    display: flex;
    align-items: center;
    margin-top: 45px;
    
}

.work-button {
    border-radius: 4px;
        min-width: 178px;
        height: 53px;
        background-color: #02897a;
        border: 1px solid #bcd0e5;
        font-weight: 700;
            font-size: 16px;
            color: #fff;
            align-items: center;
            cursor: pointer;
}

.work-button-vid{
    display: flex;
}

.btn-link{
    font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #02897a;
        
}

.work-button-vid {
        cursor: pointer;
        margin-left: 30px;
        gap: 8px;
}


.work-blok-img {
    
}

.work-img-fot {
    margin: 0 auto;
}

.product-section{
    height: 503px;
    margin-top: 100px;
}

.product {
    font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #22343d;
}

.produkt-conteiner{
    
}

.product-list {
    display: flex;
    padding: 0;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 0;
}

.product-item {}

.product-item-img {
    border-radius: 19px;
    
       
}

.product-item-subtitle {
    font-weight: 600;
        font-size: 22px;
        color: #22343d;
        margin-top: 26px;
}

.product-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #22343d;
        margin-top: 13px;
}

.product-buttom {
    display: block;
        margin: 0 auto;
    font-weight: 700;
        font-size: 16px;
        color: #fff;
        background-color: #02897a;
        margin-top: 50px;
        border-radius: 4px;
            width: 175px;
            height: 53px;
            border: 1px solid #bcd0e5;
            cursor: pointer;
        
}

.manag-conteiner{
    height: 500px;
    display: flex;
    margin-top: 50px;
}

.manag-text-conteinert {
    display: block;
    margin-top: 41px;
    width: 486px;
        height: 418px;
}

.manag-text-bolt {
    ont-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 16px;
    margin-top: 25px;
        line-height: 26px;
        
        color: #22343d;
}

.manag {
    font-weight: 700;
        font-size: 32px;
        color: #22343d;
        margin-top: 8px;
}

.manag-text-bolt-wan{
    font-weight: 600;
        font-size: 16px;
        margin-top: 25px;
        line-height: 26px;
    margin-top: 30px;
        color: #22343d;
}

.manag-text-wan{
    font-weight: 400;
        font-size: 16px;
    margin-top: 25px;
        line-height: 26px;
    
        color: #22343d;

}

.manag-text{
    font-weight: 400;
        font-size: 16px;
        margin-top: 25px;
        line-height: 26px;
    margin-top: 12px;
        color: #22343d;
}

.manag-text {
    font-weight: 400;
        font-size: 16px;
    
        line-height: 26px;
        
        color: #22343d;
}

.manag-img{
    
    margin-left: 84px;
}

.sup-conteiner {
    display: flex;
    height: 500px;
     display: flex;
    margin-top: 100px;
}

.sup-img {}

.conteiner-sup {
    margin-left: 84px;
    margin-top: 41px;
}

.sup-text-wan{
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.sup-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
}

.sup-text-dwa{
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343d;
}

.sup-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-top: 8px;
}

.sup-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.sup-item {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.sup-item:last-child {
    margin-bottom: 0;
 }